<%- include('../layout/header.ejs')%>
<link rel="stylesheet" href="/node_modules/mditor/dist/css/mditor.min.css">
<script src="/node_modules/mditor/dist/js/mditor.min.js"></script>
    <div class="container">
        <h1>编辑文章</h1>
        <hr>
        <form id="form">
            <input type="hidden" name="id" value="<%= article.id%>">
            <div class="form-group">
                <label>文章标题:</label>
                <input type="text" class="form-control" name="title" value="<%= article.title%>">
            </div>
            <div class="form-group">
                <label>文章内容:</label>
                <textarea class="form-control" name="content" id="editor"><%= article.content%></textarea>
            </div>
            <div class="form-group">
                <input type="submit" class="btn-primary btn" value="保存文章">
            </div>
        </form>
    </div>
    <script>
       $(function(){
        //    初始化编辑器
        var mditor =  Mditor.fromTextarea(document.getElementById('editor'));

        $('#form').on('submit',function(e){
            e.preventDefault()
            $.ajax({
                url:'/article/edit',
                type:'post',
                data:$('#form').serialize(),
                dataType:'json',
                success:function(res){
                    console.log(res);
                    if(res.status !== 200)  return alert('编辑失败,请重试')                       
                    location.href = '/article/info/<%= article.id%>'
                }
            })
        })
       }) 
    </script>
<%- include('../layout/footer.ejs')%>